<!DOCTYPE html>
<html>
  <head>
    <title>BuildingProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%=render partial:"home/nav"%>
    <% end %>
    <%= yield %>
    <p class="notice text-center"><%= notice %></p>
    <p class="alert text-center"><%= alert %></p>
    
  </body>
</html>
